<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - inmobiliaria Heredia</title>
    <script src="https://kit.fontawesome.com/d188bd0be3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/inmobiliaria_Heredia.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inmobiliaria H's</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if(User.Identity.IsAuthenticated) {
                            
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Propietario" asp-action="Index"><i class="fa-solid fa-user"></i>Propietarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Inquilino" asp-action="Index"><i class="fa-solid fa-users"></i>Inquilinos</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link text-white" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="lnr lnr-user"></span> <i class="fa-solid fa-building"></i>Inmuebles
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item text-dark" asp-controller="Inmueble" asp-action="Index"><i class="fa-solid fa-list"></i>Índice</a></li>
                                    <li><a class="dropdown-item text-dark" asp-controller="Inmueble" asp-action="Disponibles"><i class="fa-solid fa-check"></i>Disponibles</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link text-white" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="lnr lnr-user"></span> <i class="fa-solid fa-file-pen"></i>Contratos
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item text-dark" asp-controller="Contrato" asp-action="Index"><i class="fa-solid fa-list"></i>Índice</a></li>
                                    <li><a class="dropdown-item text-dark" asp-controller="Contrato" asp-action="Search"><i class="fa-solid fa-magnifying-glass"></i>Busquedas</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Pago" asp-action="Index"><i class="fa-solid fa-receipt"></i>Pagos</a>
                            </li>

                            @if(User.IsInRole("Administrador")) {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Usuario" asp-action="Index"><i class="fa-solid fa-circle-user"></i>Usuarios</a>
                                </li>
                            }

                            <div class="dropdown">
                                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="lnr lnr-user"></span> @User.Identity.Name
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item text-dark" asp-controller="Usuario" asp-action="Perfil"><i class="fa-solid fa-user"></i>Perfil</a></li>
                                    <li><a class="dropdown-item text-dark" asp-controller="Usuario" asp-action="Logout"><i class="fa-solid fa-right-from-bracket"></i>Salir</a></li>
                                </ul>
                            </div>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div class="">
            @if(ViewBag.Mensaje != null) {
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>Información:</strong> @ViewBag.Mensaje
                </div>
            }
            @if(ViewBag.Error != null) {
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>¡Error!</strong> @ViewBag.Error
				</div>
            }
        </div>
    </main>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Leandro Heredia - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
