@model inmobiliaria_Heredia.Models.Pago

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>¿Seguro que quieres borrar este contrato?</h3>
<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.importe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.importe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.detalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.detalle)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
