@model inmobiliaria_Heredia.Models.Pago

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.importe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.importe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contratoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contratoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.detalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.detalle)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.numPago }) |
    @if(User.IsInRole("Administrador")) {
        <a asp-action="Index">Volver</a>
    } else {
        <a asp-action="Index" asp-controller="Contrato">Volver</a>
    }
</div>
