@model IEnumerable<inmobiliaria_Heredia.Models.Inmueble>

@{
    ViewData["Title"] = "Index";
}

<h1>Índice de Inmuebles</h1>

<p>
    <a asp-action="Create">Nuevo Inmueble</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idInmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantAmbientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.coordenadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.disponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.propietarioId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idInmueble)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantAmbientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.coordenadas)
            </td>
            <td>
                @("$ " + item.precio)
            </td>
            <td>
                @(item.disponible ? "Si" : "No")
            </td>
            <td>
                @(item.duenio.apellido + ", " + item.duenio.nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idInmueble" title="Editar"><i class="fa-solid fa-pen-to-square fa-xl"></i></a> |
                <a asp-action="Details" asp-route-id="@item.idInmueble" title="Detalles"><i class="fa-solid fa-circle-info fa-xl"></i></a> |

                @if(User.IsInRole("Administrador")) {
                    <a asp-action="Delete" asp-route-id="@item.idInmueble" title="Borrar"><i class="fa-solid fa-trash-can fa-xl"></i></a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
