@model IEnumerable<inmobiliaria_Heredia.Models.Inquilino>

@{
    ViewData["Title"] = "Index";
}

<h1>Índice de Inquilinos</h1>

<p>
    <a asp-action="Create">Nuevo Inquilino</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idInquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idInquilino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idInquilino" title="Editar"><i class="fa-solid fa-pen-to-square fa-xl"></i></a> |
                <a asp-action="Details" asp-route-id="@item.idInquilino" title="Detalles"><i class="fa-solid fa-circle-info fa-xl"></i></a> |

                @if(User.IsInRole("Administrador")) {
                    <a asp-action="Delete" asp-route-id="@item.idInquilino" title="Borrar"><i class="fa-solid fa-trash-can fa-xl"></i></a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
