@model inmobiliaria_Heredia.Models.Contrato

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.alquilerMensual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.alquilerMensual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inmuebleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inmuebleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inquilinoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inquilinoId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idContrato }) |
    <a asp-action="Index">Volver</a>
</div>
