@model inmobiliaria_Heredia.Models.Contrato

@{
    ViewData["Title"] = "Details";
    var pago = ViewBag.Pago;
}

@if(pago != null) {
    <h1>¿Desea terminar este contrato?</h1>
} else {
    <h1>Detalles</h1>
}

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @(Model.fechaInicio.ToString("dd/MM/yyyy"))
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaFinal)
        </dt>
        <dd class = "col-sm-10">
            @(Model.fechaFinal.ToString("dd/MM/yyyy"))
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.alquilerMensual)
        </dt>
        <dd class = "col-sm-10">
            @("$ " + Model.alquilerMensual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inmuebleId)
        </dt>
        <dd class = "col-sm-10">
            @(Model.propiedad.direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inquilinoId)
        </dt>
        <dd class = "col-sm-10">
            @(Model.inquilino.apellido + ", " + Model.inquilino.nombre)
        </dd>
    </dl>
</div>

@if(pago != null) {
<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Importe
        </dt>
        <dd class = "col-sm-10">
            @("$ " + pago.importe)
        </dd>
        <dt class = "col-sm-2">
            Detalle
        </dt>
        <dd class = "col-sm-10">
            @(pago.detalle)
        </dd>
    </dl>
</div>
}

@if(pago != null) {
    <div>
        <a asp-action="TerminateCreate" asp-route-id="@Model.idContrato" class="btn btn-primary">Terminar</a>
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </div>
} else {
    <div>
        <a asp-action="Edit" asp-route-id="@Model.idContrato" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </div>
}
