@model inmobiliaria_Heredia.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Datos personajes</h2>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellido" class="control-label"></label>
                <input asp-for="apellido" class="form-control" />
                <span asp-validation-for="apellido" class="text-danger"></span>
            </div>
            @if(User.IsInRole("Administrador")) {
                <div class="form-group">
                    <label asp-for="access" class="control-label"></label>
                    <select asp-for="access" class="form-control">
                        @foreach (var item in (IDictionary<int, string>)ViewBag.Access)
                        {
                            @:<option @(item.Key == Model.access ? "selected" : "") value="@item.Key">@item.Value</option>
                        }
                    </select>
                    <span asp-validation-for="access" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
    
    <div class="col-md-4">
        <h2>Contrase単a</h2>
        <form asp-action="EditPass" asp-route-id="@ViewBag.id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label name="passOld" class="control-label">Contrase単a actual</label>
                <input type="password" name="passOld" class="form-control" />
                <span name="passOld" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="passNew" class="control-label">Nueva contrase単a</label>
                <input type="password" name="passNew" class="form-control" />
                <span name="passNew" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="pass" class="control-label">Repetir contrase単a</label>
                <input type="password" name="pass" class="form-control" />
                <span name="pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-4">
        <h2>Cambiar avatar</h2>
        <form asp-action="EditAvatar" enctype="multipart/form-data" asp-route-id="@ViewBag.id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label name="avatarFile" class="control-label"></label>
                <input type="file" name="avatarFile" class="form-control" />
                <span name="avatarFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />
<div>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
